.card {
    width: 70%;
    margin: auto;
    .card-header{
        font-size: 1.8rem;
    }
    .btn{
        width: 10rem;
    }
}
.text-danger{

    color: red;
}

.image{
    .img{
    height: 1rem;
    width: 1rem;
}

}
